{% extends "admin/layout.html" %} {% block title %}Index{% endblock %}
{% block main %}

{% block mensaje %}
{{ super() }}
{% endblock %}




<!-- Modal starts -->
<!-- <div class="text-center">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modaledit">Click for demo<i class="mdi mdi-play-circle ml-1"></i></button>
</div> -->
<div class="col-10 grid-margin stretch-card border rounded mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ingreso Colaborador</h4>
                    <form class="forms-sample" method="post">
                      {{ form.hidden_tag() }}
                      <div class="form-group row">
                        <label for="Nombre" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                        {% if form.nombre.errors %}
                        {{ form.nombre(class="form-control is-invalid", placeholder="Nombre") }}
                        <div class="invalid-feedback">
                          {% for error in form.nombre.errors %}
                          <span class="bg-dark">{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.nombre(class="form-control", placeholder="Nombre") }}
                        {% endif %}
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="apellidoPaterno" class="col-sm-3 col-form-label">Apellido Paterno</label>
                        <div class="col-sm-9">
                        {% if form.apellido_p.errors %}
                        {{ form.apellido_p(class="form-control is-invalid", placeholder="Apellido Paterno") }}
                        <div class="invalid-feedback">
                          {% for error in form.apellido_p.errors %}
                          <span class="bg-dark">{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.apellido_p(class="form-control", placeholder="Apellido Paterno") }}
                        {% endif %}
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="apellidoMaterno" class="col-sm-3 col-form-label">Apellido Materno</label>
                        <div class="col-sm-9">
                        {% if form.apellido_m.errors %}
                        {{ form.apellido_m(class="form-control is-invalid", placeholder="Apellido Materno") }}
                        <div class="invalid-feedback">
                          {% for error in form.apellido_m.errors %}
                          <span class="bg-dark">{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.apellido_m(class="form-control", placeholder="Apellido Materno") }}
                        {% endif %}
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="rut" class="col-sm-3 col-form-label">Rut</label>
                        <div class="col-sm-9">
                        {% if form.rut.errors %}
                        {{ form.rut(class="form-control is-invalid", placeholder="Rut (Ej:11223344-5)") }}
                        <div class="invalid-feedback">
                          {% for error in form.rut.errors %}
                          <span class="bg-dark">{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.rut(class="form-control", placeholder="Rut (Ej:11223344-5)") }}
                        {% endif %}
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                        <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                          <span class="bg-dark">{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% endif %}
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="genero" class="col-sm-3 col-form-label">Genero</label>
                        <div class="col-sm-9">
                          {% if form.genero.errors %}
                          {{ form.genero(class="form-control is-invalid", placeholder="Genero") }}
                          <div class="invalid-feedback">
                            {% for error in form.genero.errors %}
                            <span class="bg-dark">{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %}
                          {{ form.genero(class="form-control", placeholder="Genero") }}
                          {% endif %}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="rol" class="col-sm-3 col-form-label">Rol</label>
                          <div class="col-sm-9">
                          {% if form.rol.errors %}
                          {{ form.rol(class="form-control is-invalid", placeholder="Rol") }}
                          <div class="invalid-feedback">
                            {% for error in form.rol.errors %}
                            <span class="bg-dark">{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %}
                          {{ form.rol(class="form-control", placeholder="Rol") }}
                          {% endif %}
                          </div>
                          </div>

                          <div class="form-group row">
                            <label for="fechaNacimiento" class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                            <!-- <div class="col-sm-9 input-group date datepicker" id="datepicker-popup"> -->
                              <div class="col-sm-9">

                            {% if form.nacimiento.errors %}
                            {{ form.nacimiento(class="form-control is-invalid", placeholder="dd/mm/AAAA") }}
                            <div class="invalid-feedback">
                              {% for error in form.nacimiento.errors %}
                              <span class="bg-dark">{{ error }}</span>
                              {% endfor %}
                            </div>
                            {% else %}
                            {{ form.nacimiento(class="form-control", placeholder="dd/mm/AAAA") }}
                            {% endif %}
                            </div>
                            </div>

                            <div class="form-group row">
                              <label for="prevision" class="col-sm-3 col-form-label">Prevision</label>
                              <div class="col-sm-9">
                              {% if form.prevision.errors %}
                              {{ form.prevision(class="form-control is-invalid", placeholder="Prevision") }}
                              <div class="invalid-feedback">
                                {% for error in form.prevision.errors %}
                                <span class="bg-dark">{{ error }}</span>
                                {% endfor %}
                              </div>
                              {% else %}
                              {{ form.prevision(class="form-control", placeholder="Prevision") }}
                              {% endif %}
                              </div>
                              </div>

                          <div class="form-group row">
                            <label for="telefono" class="col-sm-3 col-form-label">Telefono(Opcional)</label>
                            <div class="col-sm-9">
                            {{ form.telefono(class="form-control", placeholder="Telefono") }}
                          </div>
                          </div>

                          <div class="form-group row">
                            <label for="Direccion" class="col-sm-3 col-form-label">Direccion</label>
                            <div class="col-sm-9">
                            {% if form.direccion.errors %}
                            {{ form.direccion(class="form-control is-invalid", placeholder="Direccion") }}
                            <div class="invalid-feedback">
                              {% for error in form.direccion.errors %}
                              <span class="bg-dark">{{ error }}</span>
                              {% endfor %}
                            </div>
                            {% else %}
                            {{ form.direccion(class="form-control", placeholder="Direccion") }}
                            {% endif %}
                            </div>
                          </div>


                          <div class="mx-auto">
                            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                            <button class="btn btn-light">Cancelar</button>
                          </div>


                    </form>
                  </div>
                </div>
              </div>



{% endblock %}
