
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Admin</title>

    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/feather.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/bundle.base.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/skins/all.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/select2-bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo_size.jpg') }}" />



</head>

<body>
  <div class="container-scroller">

    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="nav-top flex-grow-1">
          <div class="container d-flex flex-row h-100 align-items-center">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="{{ url_for('admin.index') }}"><img src="{{url_for('static', filename='images/new-logo.png') }}" alt="logo"/></a>
              <a class="navbar-brand brand-logo-mini" href="{{ url_for('admin.index') }}"><img src="{{url_for('static', filename='images/new-logo.png') }}" alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-grow-1">
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-bell-outline mx-0"></i>
                    <span class="count"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <a class="dropdown-item">
                      <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                      </p>
                      <span class="badge badge-pill badge-warning float-right">View all</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                          <i class="mdi mdi-information mx-0"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-medium">Application Error</h6>
                        <p class="font-weight-light small-text">
                          Just now
                        </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>

                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-email-outline mx-0"></i>
                    <span class="count"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    <div class="dropdown-item">
                      <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                      </p>
                      <span class="badge badge-info badge-pill float-right">View all</span>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                          <img src="{{url_for('static', filename='images/logo-menu.png') }}" alt="image" class="profile-pic">
                      </div>
                      <div class="preview-item-content flex-grow">
                        <h6 class="preview-subject ellipsis font-weight-medium">David Grey
                          <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                        </h6>
                        <p class="font-weight-light small-text">
                          The meeting is cancelled
                        </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>


                  </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="{{url_for('static', filename='images/default-male-user.png') }}" alt="profile"/>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                      <i class="mdi mdi-settings text-primary"></i>
                      Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('admin.logout')}}">
                      <i class="mdi mdi-logout text-primary"></i>
                      Logout
                    </a>
                  </div>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                  <a class="nav-link" href="#">
                    <i class="mdi mdi-apps"></i>
                  </a>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
          <ul class="nav page-navigation">

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Pacientes</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Nuevo Paciente</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Buscar Paciente</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar Paciente</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Personal</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.addPerson') }}">Ingresar</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.editPerson') }}">Editar</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Eliminar</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Proveedores</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Buscar</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Compras</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Ingresar Compra</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar Compra</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Eliminar Compra</a></li>

                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Ventas</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Nueva Venta</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar Venta</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Eliminar Venta</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Productos</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Nuevo Producto</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar Producto</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Eliminar Producto</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Informes</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Ventas</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Compras</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Inventario</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">Agendar Citas</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="#">Agendar Citas</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Editar Cita</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Eliminar Cita</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Buscar Cita</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Anunciar llegada</a></li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </nav>
    </div>


    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="container text-center pt-5">
                      {% block main %}
                          {% block mensaje %}
                              {% with messages = get_flashed_messages(with_categories=true) %}
                                  {% if messages %}
                                      {% for category, message in messages %}
                      <div class="alert alert-fill-{{ category }}">
                        <i class="mdi mdi-alert-circle"></i>
                                          {{ message }}
                      </div>
                                      {% endfor %}
                                  {% endif %}
                              {% endwith %}
                          {% endblock %}
                      {% endblock %}



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="w-100 clearfix">
          </div>
        </footer>

      </div>

    </div>

  </div>

  <script src="{{url_for('static', filename='admin/js/bundle.base.js') }}"></script>


  <script src="{{url_for('static', filename='admin/js/Chart.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/progressbar.min.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/jquery.barrating.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/jquery.sparkline.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/raphael.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/morris.min.js') }}"></script>


  <script src="{{url_for('static', filename='admin/js/off-canvas.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/hoverable-collapse.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/template.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/settings.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/todolist.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/dashboard.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/icheck.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/typeahead.bundle.min.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/select2.min.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/file-upload.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/typeahead.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/iCheck.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/select2.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/formpickers.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/moment.min.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/modal-demo.js') }}"></script>

  <script type="text/javascript">

  $(document).ready(function () {

$('.js-example-basic-single').val(null).trigger('change');

       });


  function ShowSelected()
  {
  var cod = document.getElementById("personaNombre").value;
  var combo = document.getElementById("personaNombre");
  var selected = combo.options[combo.selectedIndex].text;

  var submitSelect = document.getElementById('submitSelect');
  submitSelect.innerHTML = '<a href="/admin/editPerson/'+cod+'">  <button type="button" class="btn btn-primary btn-sm mt-3" >Buscar<i class="mdi mdi-play-circle ml-1"></i></button></a>';
  var personModal = document.getElementById('personModal');
  personModal.innerHTML =selected;
  }
  </script>

</div>
</div>
