
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - Admin</title>

    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/feather.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/bundle.base.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='admin/css/style.css') }}">

    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo_size.jpg') }}" />



</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="{{url_for('static', filename='images/new-logo.png') }}" alt="logo">
                </div>
                <h4>Bienvenido</h4>
                <h6 class="font-weight-light">Inicia sesión para continuar.</h6>
                <form class="pt-3" action="" method="post" novalidate="novalidate">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span class="bg-dark">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Contraseña") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span class="bg-dark">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg", placeholder="Contraseña") }}
                    {% endif %}
                  </div>
                  <div class="mt-3">
                      <button type="submit" value="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                      Iniciar Sesión
                     </button>
                  </div>


                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        {{ form.remember.label(class="form-check-label") }}
                        {{ form.remember(class="form-check-input",type="checkbox") }}
                      </label>
                    </div>
                    <a href="#" class="auth-link text-black">¿Olvidaste Tu Contraseña?</a>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="{{url_for('static', filename='admin/js/bundle.base.js') }}"></script>

  <script src="{{url_for('static', filename='admin/js/off-canvas.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/hoverable-collapse.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/template.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/settings.js') }}"></script>
  <script src="{{url_for('static', filename='admin/js/todolist.js') }}"></script>

</body>

</html>
