 {% extends "layout.html" %} {% block title %}Index{% endblock %}



 <body>

   {% block header %}{{ super() }}{% endblock %} {% block main %}
   <main>
     <!--? slider Area Start -->
     <div class="container">

       <div class="col-xl-12">
         {% block mensaje %}
         {{ super() }}
         {% endblock %}
       </div>
       <!-- <div class="alert alert-warning">
         <strong>Holy guacamole!</strong> You should check in on some of those fields below.
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div> -->
     </div>

     <div class="slider-area ">
       <div class="slider-active">
         <!-- Single Slider -->
         <div class="single-slider slider-height d-flex align-items-center slide-bg">
           <div class="container">
             <div class="row justify-content-between align-items-center">
               <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                 <div class="hero__caption">
                   <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New Perfect Style</h1>
                   <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                   <!-- Hero-btn -->
                   <!-- <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
<a href="industries.html" class="btn hero-btn">Shop Now</a>
</div> -->
                 </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                 <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                   <img src="{{url_for('static', filename='images/lentes/watch.png') }}" alt="" class=" heartbeat" data-pagespeed-url-hash="671470754" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 </div>
               </div>
             </div>
           </div>
         </div>

         <!-- Single Slider -->
         <div class="single-slider slider-height d-flex align-items-center slide-bg">
           <div class="container">
             <div class="row justify-content-between align-items-center">
               <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                 <div class="hero__caption">
                   <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New Perfect Style</h1>
                   <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                   <!-- Hero-btn -->
                   <!-- <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
<a href="industries.html" class="btn hero-btn">Shop Now</a>
</div> -->
                 </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                 <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                   <img src="{{url_for('static', filename='images/lentes/watch.png') }}" alt="" class=" heartbeat" data-pagespeed-url-hash="671470754" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- slider Area End-->
     <!-- ? New Product Start -->
     <section class="new-product-area section-padding30">
       <div class="container">
         <!-- Section tittle -->
         <div class="row">

           <div class="col-xl-12">
             <div class="section-tittle mb-70">
               <h2>Los recién llegados</h2>
             </div>
           </div>
         </div>




         <div class="row">
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-new-pro mb-30 text-center">
               <div class="product-img">
                 <img src="{{url_for('static', filename='images/lentes/sunglases.jpg') }}" alt="" data-pagespeed-url-hash="3091947218" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
               </div>
               <div class="product-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-new-pro mb-30 text-center">
               <div class="product-img">
                 <img src="{{url_for('static', filename='images/lentes/sunglases2.jpg') }}" alt="" data-pagespeed-url-hash="3386447139" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
               </div>
               <div class="product-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-new-pro mb-30 text-center">
               <div class="product-img">
                 <img src="{{url_for('static', filename='images/lentes/sunglases3.jpg') }}" alt="" data-pagespeed-url-hash="3680947060" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
               </div>
               <div class="product-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>

     <div class="popular-items section-padding30">
       <div class="container">
         <!-- Section tittle -->
         <div class="row justify-content-center">
           <div class="col-xl-7 col-lg-8 col-md-10">
             <div class="section-tittle mb-70 text-center">
               <h2>Popular Items</h2>
               <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular1.png') }}" alt="" data-pagespeed-url-hash="597533973" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular2.png') }}" alt="" data-pagespeed-url-hash="892033894" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular3.png') }}" alt="" data-pagespeed-url-hash="1186533815" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular4.png') }}" alt="" data-pagespeed-url-hash="1481033736" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular5.png') }}" alt="" data-pagespeed-url-hash="1775533657" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
             <div class="single-popular-items mb-50 text-center">
               <div class="popular-img">
                 <img src="{{url_for('static', filename='images/lentes/popular6.png') }}" alt="" data-pagespeed-url-hash="2070033578" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                 <div class="img-cap">
                   <span>Add to cart</span>
                 </div>
                 <div class="favorit-items">
                   <span class="flaticon-heart"></span>
                 </div>
               </div>
               <div class="popular-caption">
                 <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                 <span>$ 45,743</span>
               </div>
             </div>
           </div>
         </div>
         <!-- Button -->
         <div class="row justify-content-center">
           <div class="room-btn pt-70">
             <a href="catagori.html" class="btn view-btn1">View More Products</a>
           </div>
         </div>
       </div>
     </div>
     <!-- Popular Items End -->



   </main>
   {% endblock %} {% block footer %}{{ super() }}{% endblock %} {% block js %}{{ super() }}{% endblock %}
 </body>

 </html>
