<!doctype html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} - Optiver</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  <!-- CSS here -->

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/flaticon.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/slicknav.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/nice-select.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">



</head>

<body>

  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="menu-wrapper">
            <!-- Logo -->
            <div class="logo">
              <a href="{{url_for('main.index')}}"><img src="{{url_for('static', filename='images/logo-menu.png') }}"></a>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="#">Lentes de sol</a></li>
                  <li><a href="#">Lentes opticos</a></li>
                  <li><a href="#">Lentes de descanso</a></li>
                  <!-- <li class="hot"><a href="#">Accesorios</a> -->
                  <li><a href="#">Accesorios</a>
                    <!-- <ul class="submenu">
<li><a href="shop.html"> MIA</a>
</li>
<li><a href="product_details.html"> Product Details</a></li>
</ul> -->
                  </li>
                </ul>

              </nav>
            </div>
            <!-- Header Right -->
            <div class="header-right">
              <ul>

                <li>
                  {% if current_user.is_authenticated %}
                  <a href="{{url_for('personas.account')}}"><span class="fas fa-cog"></span></a>
                  <a href="{{url_for('personas.logout')}}" data-toggle="tooltip" title="Cerrar Sesión"><span class="fas fa-sign-out-alt"></span>Acceder</a> {% else %}
                  <a href="{{url_for('personas.login')}}" data-toggle="tooltip" title="Iniciar Sesión"><span class="fas fa-user"></span></a> {% endif %}
                </li>

              </ul>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>


  {% block main %}
      {% block mensaje %}
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
  </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      {% endblock %}
  {% endblock %}
  {% block footer %}
  <footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo">
                  <a href="{{url_for('main.index')}}"><img src="/static/images/logo-menu.png"></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#"> Offers & Discounts</a></li>
                  <li><a href="#"> Get Coupon</a></li>
                  <li><a href="#"> Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>New Products</h4>
                <ul>
                  <li><a href="#">Woman Cloth</a></li>
                  <li><a href="#">Fashion Accessories</a></li>
                  <li><a href="#"> Man Accessories</a></li>
                  <li><a href="#"> Rubber made Toys</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Support</h4>
                <ul>
                  <li><a href="#">Frequently Asked Questions</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Report a Payment Issue</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer bottom -->
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-8 col-md-7">

          </div>
          <div class="col-xl-5 col-lg-4 col-md-5">
            <div class="footer-copy-right f-right">
              <!-- social -->
              <div class="footer-social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fas fa-globe"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </footer>
  {% endblock %} {% block js %}
  <!-- JS here -->
  <script src="/static/js/vendor/modernizr.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/static/js/jquery.slicknav.min.js"></script>
  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/slick.min.js"></script>
  <!-- One Page, Animated-HeadLin -->
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/animated.headline.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <!-- Scrollup, nice-select, sticky -->
  <script src="/static/js/jquery.scrollUp.min.js"></script>
  <script src="/static/js/jquery.nice-select.min.js"></script>
  <script src="/static/js/jquery.sticky.js"></script>
  <!-- contact js -->
  <script src="/static/js/contact.js"></script>
  <script src="/static/js/jquery.form.js"></script>
  <script src="/static/js/jquery.validate.min.js"></script>
  <script src="/static/js/mail-script.js"></script>
  <script src="/static/js/jquery.ajaxchimp.min.js"></script>
  <!-- Jquery Plugins, main Jquery -->
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>


  {% endblock %}

</body>

</html>
