{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<!-- Hero Area Start-->
<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Login</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End-->
<section class="login_part section_padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mx-auto">

        <div class="col-xl-12">
          {% block mensaje %}
          {{ super() }}
          {% endblock %}
        </div>

        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>
              Bienvenido<br />
              Inicie Sesión
            </h3>
            <form class="row contact_form" action="" method="post" novalidate="novalidate">
              {{ form.hidden_tag() }}
              <div class="col-md-12 form-group p_star">
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control", placeholder="Email") }}
                {% endif %}
              </div>
              <div class="col-md-12 form-group p_star">
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", placeholder="Contraseña") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", placeholder="Contraseña") }}
                {% endif %}
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account d-flex align-items-center">
                  <!-- <input type="checkbox" id="f-option" name="selector" />
                  <label for="f-option">Recuérdame</label> -->
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <button type="submit" value="submit" class="btn_3">
                  Iniciar Sesión
                </button>

                <div class="returning_customer">
                  <div class="check_title">
                    ¿Nuevo cliente?
                    <a class="lost_pass" href="{{ url_for('personas.register') }}">Crear una cuenta</a>
                  </div>
                </div>
                <div class="returning_customer">
                  <div class="check_title">
                    <a class="lost_pass" href="{{ url_for('personas.reset_request') }}">¿Olvidaste tu contraseña?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
