{% extends "layout.html" %}
{% block title %}Registro{% endblock %}
{% block main %}
<!-- Hero Area Start-->
<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Registro</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End-->
<section class="login_part section_padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mx-auto">
        <div class="login_part_text text-center">
          <div class="login_part_form_iner">
            <h2>Registrarse<br /><br /></h2>
            <form class="row contact_form" action="" method="post" novalidate="novalidate">
              {{ form.hidden_tag() }}
              <!-- {{ form.csrf_token }} -->
              <div class="col-md-6 form-group p_star">

                {% if form.nombre.errors %}
                {{ form.nombre(class="form-control is-invalid", placeholder="Nombre") }}
                <div class="invalid-feedback">
                  {% for error in form.nombre.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.nombre(class="form-control", placeholder="Nombre") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.apellido_p.errors %}
                {{ form.apellido_p(class="form-control is-invalid", placeholder="Apellido Paterno") }}
                <div class="invalid-feedback">
                  {% for error in form.apellido_p.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.apellido_p(class="form-control", placeholder="Apellido Paterno") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.apellido_m.errors %}
                {{ form.apellido_m(class="form-control is-invalid", placeholder="Apellido Materno") }}
                <div class="invalid-feedback">
                  {% for error in form.apellido_m.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.apellido_m(class="form-control", placeholder="Apellido Materno") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.rut.errors %}
                {{ form.rut(class="form-control is-invalid", placeholder="Rut (Ej:11223344-5)") }}
                <div class="invalid-feedback">
                  {% for error in form.rut.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.rut(class="form-control", placeholder="Rut (Ej:11223344-5)") }}
                {% endif %}

              </div>
              <div class="col-md-12 form-group p_star">

                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control", placeholder="Email") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.genero.errors %}
                {{ form.genero(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.genero.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.genero(class="form-control", placeholder="Genero") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">
                {{ form.telefono(class="form-control", placeholder="Telefono(Opcional)") }}
              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", placeholder="Contraseña") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", placeholder="Contraseña") }}
                {% endif %}

              </div>
              <div class="col-md-6 form-group p_star">

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid", placeholder="Repetir Contraseña") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control", placeholder="Repetir Contraseña") }}
                {% endif %}

              </div>

              <div class="col-md-12 form-group">
                {{ form.submit(class="btn_3") }}
                <!-- <button type="submit" value="submit" class="btn_3">
                                                            Registrarme
                                                        </button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
