{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<!-- Hero Area Start-->
<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Login</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End-->
<section class="login_part section_padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mx-auto">

        <div class="col-xl-12">
          {% block mensaje %}
          {{ super() }}
          {% endblock %}
        </div>

        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>
              Restablecer la contraseña<br />
            </h3>
            <form class="row contact_form" action="" method="post" novalidate="novalidate">
              {{ form.hidden_tag() }}
              <div class="col-md-12 form-group p_star">
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", placeholder="Contraseña") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", placeholder="Contraseña") }}
                {% endif %}
              </div>
              <div class="col-md-12 form-group p_star">

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid", placeholder="Repetir Contraseña") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                  <span class="bg-dark">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control", placeholder="Repetir Contraseña") }}
                {% endif %}

              </div>
              <div class="col-md-12 form-group">

                <button type="submit" value="submit" class="btn_3">
                  Resetear Contraseña
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
